<div class="block js-block" data-col="1" data-row="1" data-num-cols="2" data-type="title" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-title">
			<div class="block-content-title__number">4</div>
			<div class="block-content-title__title">Alloying</div>
		</div>
	</div>
</div>

<div class="block js-block" data-col="2" data-row="2" data-num-cols="2" data-time="4.6" data-direction="up" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			The metals are melted together and dripped through water to form Sedna&trade; gold granules.
		</div>
	</div>
</div>

<div class="block js-block" data-col="3" data-row="3" data-type="number" data-time="5.5" data-direction="down" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-number alloying_carat_block">
			<div class="block-content-number__value js-number">18</div>
			<div class="block-content-number__value">K</div>
		</div>
	</div>
</div>

<div class="block js-block" data-col="4" data-row="3" data-time="end" data-direction="left" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			At this<br>stage the rose gold colour is<br>set forever.
		</div>
	</div>
</div>