<div class="block js-block" data-col="1" data-row="1" data-num-cols="2" data-type="title" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-title">
			<div class="block-content-title__number">5</div>
			<div class="block-content-title__title">Casting</div>
		</div>
	</div>
</div>

<div class="block js-block" data-col="1" data-row="2" data-time=".7" data-direction="down" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			<div class="block-content-title__number">5.1</div>
			The Sedna&trade; granules are reheated.
		</div>
	</div>
</div>

<!-- <div class="block js-block" data-col="2" data-row="2" data-num-cols="2" data-type="number" data-time="3.3" data-direction="right" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-number block-content-number--large">
			<div class="block-content-number__value js-number">1000</div>
			<div class="block-content-number__value">&deg;</div>
		</div>
	</div>
</div> -->

<div class="block js-block" data-col="2" data-row="3" data-num-cols="2" data-type="element" data-time="7.5" data-direction="down" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			<div class="block-content-title__number">5.2</div>
			Then cast in a graphite<br/>die and cold-worked to become 3x harder than pure gold.
		</div>
	</div>
</div>

<div class="block js-block" data-col="4" data-row="3" data-type="number" data-time="9.75" data-direction="down" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-number block-content-number--large">
			<div class="block-content-number__value js-number">3</div>
			<div class="block-content-number__value">x</div>
		</div>
	</div>
</div>