<div class="block js-block" data-col="1" data-row="1" data-num-cols="2" data-type="title" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-title">
			<div class="block-content-title__number">6</div>
			<div class="block-content-title__title manufacturing__title">Manufacturing</div>
		</div>
	</div>
</div>

<!-- <div class="block js-block" data-col="2" data-row="2" data-time="2.5" data-direction="down" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			<div class="block-content-title__number">6.1</div>
			By machine
		</div>
	</div>
</div>

<div class="block js-block" data-col="3" data-row="2" data-time="4.45" data-direction="right" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			<div class="block-content-title__number">6.2</div>
			By human hands
		</div>
	</div>
</div> -->

<div class="block js-block" data-col="1" data-row="2" data-num-cols="2" data-num-rows="2" data-type="multiline" data-time="2.2" data-direction="down" data-item-show-time="1.3" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-multiline">
			Major processes include:
			<ul class="js-multiline-items">
				<li>Cutting</li>
				<li>Stamping</li>
				<li>Heating treatment</li>
				<li>Machining</li>
				<li>Polishing</li>
				<li>Quality Control</li>
				<li>Assembling</li>
			</ul>
		</div>
	</div>
</div>

<div class="block js-block" data-col="3" data-row="3" data-time="end" data-direction="right" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			Some are repeated 10 to 20 times.
		</div>
	</div>
</div>