<div class="block js-block" data-col="1" data-row="1" data-num-cols="2" data-type="title" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-title">
			<div class="block-content-title__number">2</div>
			<div class="block-content-title__title">Inspiration</div>
		</div>
	</div>
</div>

<div class="block js-block" data-col="2" data-row="2" data-num-cols="2" data-time="3.1" data-direction="left" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			We looked beyond the usual horizons to a red planetoid called Sedna.
		</div>
	</div>
</div>

<div class="block js-block" data-col="2" data-row="3" data-num-cols="2" data-time="5.95" data-direction="left" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			The most distant object in our solar system.
		</div>
	</div>
</div>

<div class="block js-block" data-col="4" data-row="2" data-num-cols="2" data-num-rows="2" data-type="solar" data-time="end" data-direction="right" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-solar" >
			Our solar system
			<img class="block-content-solar__image" src="img/solar.png">
			<div class="block-content-solar__planetoid js-planetoid"></div>
			<div class="block-content-solar__label js-label">Sedna</div>
		</div>
	</div>
</div>