<div class="block js-block" data-col="1" data-row="1" data-num-cols="2" data-type="title" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-title">
			<div class="block-content-title__number">3</div>
			<div class="block-content-title__title metal__title">Sedna&trade; alloy composition</div>
		</div>
	</div>
</div>

<div class="block js-block" data-col="1" data-row="2" data-type="element" data-time="2.5" data-direction="left" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-element">
			<div class="block-content-element__symbol">Au</div>
			<div class="block-content-element__prefix">></div>
			<div class="block-content-element__number js-number">75</div>
			<div class="block-content-element__suffix">%</div>
		</div>
	</div>
</div>

<div class="block js-block" data-col="2" data-row="2" data-type="element" data-count-up-decimals="1" data-time="4.4" data-direction="left" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-element">
			<div class="block-content-element__symbol">Pd</div>
			<div class="block-content-element__prefix">></div>
			<div class="block-content-element__number js-number">1</div>
			<div class="block-content-element__suffix">%</div>
		</div>
	</div>
</div>

<div class="block js-block" data-col="3" data-row="2" data-type="element" data-time="7.1" data-direction="left" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-element">
			<div class="block-content-element__symbol">Cu</div>
			<div class="block-content-element__sub-heading">Balance</div>
		</div>
	</div>
</div>

<div class="block js-block" data-col="6" data-row="3" data-num-cols="2"  data-time="end" data-direction="down" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy" >
			We created this exclusive 18K gold by blending the purity of gold, the resilience of palladium and a dash of colour from copper.
		</div>
	</div>
</div>