<div class="block js-block" data-col="1" data-row="1" data-num-cols="2" data-type="title" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-title">
			<div class="block-content-title__number">7</div>
			<div class="block-content-title__title">The result</div>
		</div>
	</div>
</div>

<div class="block js-block" data-col="2" data-row="2" data-time="4.5" data-direction="right">
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			A patented triumph in metallurgy.
		</div>
	</div>
</div>

<div class="block js-block" data-col="3" data-row="2" data-time="6.2" data-direction="right" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy">
			A rose colour which will last forever.
		</div>
	</div>
</div>

<div class="block js-block" data-col="6" data-row="2" data-num-cols="2" data-num-rows="1" data-time="8.2" data-direction="left" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy block-content-final">
			An exclusive alloy. Not only beautiful, but enduring.
		</div>
	</div>
</div>

<div class="block js-block" data-col="6" data-type="click" data-row="3" data-num-cols="2" data-num-rows="1" data-time="end" data-direction="left" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content">
			<div class="block-content-copy block-content-link js-block-play">
				See the full Sedna&trade; Gold film here.
			</div>
		</div>
	</div>
</div>