<!-- <div class="block js-block" data-col="4" data-row="2" data-type="title" data-time="end">
	<div class="block-hider"><div class="block-background"></div>
	<div class="block-content block-content-title">
		<div class="block-content-title__number">1</div>
		<div class="block-content-title__title">Start</div>
	</div>
</div>
 -->
 <div class="block js-block" data-col="4" data-row="2" data-type="link">
 	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-title js-link" data-link="##1">
			<div class="block-content-title__number">1</div>
			<div class="block-content-title__title center">En</div>
		</div>
	</div>
</div>

<div class="block js-block" data-col="4" data-row="3" data-num-cols="1" data-time="2.1" data-type="link" data-direction="down" >
	<div class="block-hider">
		<div class="block-background"></div>
		<div class="block-content block-content-copy js-link" data-link="##1">
			Enter the world of Sedna&trade; Gold
		</div>
	</div>
</div>
