body { font-family: Arial, sans-serif; }
.fp-playlist a {
   color: #fff;
}
.showroom.video {
   display: block;
   height: 669px;
   margin: 0 0 5px;
}
.showroom .flowplayer { width: 962px; height: 535px;
    position: relative;
    background: url("img/video-bg-start.jpg") no-repeat center bottom #000;
    padding: 134px 0 0;
}
.showroom .flowplayer .fp-engine {
   top: 134px;
   width: 960px;
   height: 535px;
}
.showroom .flowplayer.is-playing {
   background: none #000;
}
.showroom .fp-playlist {
   z-index: 2;
   height: 43px;
   width: 750px;
   display: block;
   font-size: 13px;
   position: absolute;
   bottom: 0;
}

.hub {
	background: url('img/hub_bg.png') repeat-x;
}

.showroom .fp-playlist a {
   background: rgba(255,255,255,0.3);
   width: 96px;
   height: 43px;
   display: block;
   padding: 3px 5px;
   float: left;
   margin-right: 1px;
   color: #8f8f8f;
   position: relative;
   bottom: 0;
   left: 107px;
}
.showroom .fp-playlist a:hover {
    background: rgba(255,255,255,0.4);
    color: #c6c6c6;
}
.showroom .fp-playlist a.is-active {
   background: rgba(255,255,255,0.5);
   color: #fff;
   height: 53px;
   top: -10px;
}
.showroom .fp-playlist a span {
   display: block;
   color: #aeadad;
   margin: 0 0 2px;
}
.showroom .fp-playlist a.is-active span {
   color: #fff;
}
#main-content.magazine .hub .container {
    /*width: 600px;*/
    width: 912px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	text-align: center;
}
#main-content.magazine #watch-carrousel,
#main-content.magazine .watch-carrousel {
    left: 0;
	top: 0;
    position: relative;
    margin: 0 auto;
	/*display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
    width: 270px;*/
}
#main-content #spirit-history-content.hub.sedna h1 {
    font-size: 45px;
    text-transform: none;
	margin-bottom: 7px;
}
.sedna h1 span {
    vertical-align: top;
    font-size: 15px;
    padding: 8px 0 0;
    display: inline-block;
	*display: inline;
	zoom: 1;
}
#main-content.magazine .container h3.sedna-description {
	font-size: 16px;
}
#main-content.magazine .container p.sedna-description {
	line-height: 18px;
	font-size: 13px;
	/*width: 438px;*/
	/*width: 788px;*/
	width: 792px;
	margin: 0 auto;
}
#watch-carrousel .panel, .watch-carrousel .panel {
	height: 72px;

}

.wciawa3 {
	font-size: 10px;
}

.option-links-arrow {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.zoom-container {
	width: 100%;
	height: 456px;
	overflow: hidden;
	position: relative;
	margin: 30px 0 0;
	display: none;
}
.smooth_zoom_preloader {
	background-image: url(img/zoomassets/preloader.gif);
}
.smooth_zoom_icons {
	background-image: url(img/zoomassets/icons.png);
}
.controlsBg {
	background: url("img/move-arrows.png") no-repeat 0 0;
}
.wallpaper-download-area {
	display: none;
	width: 962px;
	height: 324px;
	margin: 10px 0 0;
	padding: 232px 0 0;
}
.wallpaper-download-area.active {
	display: block;
}
.wallpaper-download-area.sedna {
	background: url(img/wallpaper-download-image.jpg) no-repeat 0 0;
}
.wallpaper-download-area.constellation {
	background: url(img/wallpaper-download-image.jpg) no-repeat 0 -556px;
}
.wallpaper-download-area.pearl {
	background: url(img/wallpaper-download-image.jpg) no-repeat 0 -1113px;
}
.wallpaper-download-area.pd {
	background: url(img/wallpaper-download-image.jpg) no-repeat 0 -1669px;
}
.download-link {
	background: url(img/download-link-bg.png) no-repeat 0 0;
	display: block;
	height: 91px;
	width: 90px;
	margin: 0 auto;
	overflow: hidden;
	cursor: pointer;
}
.download-link span {
	width: 100%;
	height: 91px;
	display: block;
}
.download-link.active {
	background: url(img/download-link-bg.png) no-repeat -90px 0;
	overflow: visible;
}
#download-resolutions {
	display: none;
	overflow: hidden;
	height: 81px;
	padding: 10px 0 0;
	text-align: center;
	color: #666;
	background: #fff;
	background: rgba(255,255,255,0.7);
	line-height: 18px;
	cursor: default;
}
#download-resolutions a:hover {
	color: #333;
}
.download-link.active #download-resolutions {
	display: block;
}
#zoomimage-pagination, #wallpaper-pagination {
	margin: 16px auto 0;
	width: 52px;
	height: 13px;
	display: block;
}
#zoomimage-pagination li, #wallpaper-pagination li {
	list-style: none;
	display: inline-block;
	*display: inline;
	zoom: 1;
	background: url(img/wallpaper-pagination-dots.png) no-repeat -16px 0;
	width: 9px;
	height: 11px;
	margin: 0 2px;
	cursor: pointer;
}
#zoomimage-pagination li.active, #wallpaper-pagination li.active {
	background: url(img/wallpaper-pagination-dots.png) no-repeat 0 0;
}
#breadcrumb-nav {
	padding-top:4px;
}

/* carousel watch additions */
.watch-carrousel {
	width: 786px;
}

.watch {
	position: relative;
	width: 262px;
	float: left;
	margin-bottom: 30px;
}

.watch-carrousel .panel .watch-model {
	margin: 0 18px 3px 18px;
}

#zoom-container.active {
	display: block;
}