
.sound-button {
	background: #c0c0c0;
	padding: 6px;
	margin: 2px 0 0 0;
	color: #fff;
	width: auto;
	display: inline-block;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
}

.sound-button.is-on {
	background: #2CB244;
}