.page-services .meta-data{position:absolute;top:20px;left:20px}.page-services .detail{text-align:center}.page-services p{line-height:24px;margin:0 140px 23px}.page-services figure{margin:-20px}.page-services figure img{left:0;top:0;width:1166px;max-width:100%}.main-jb-count{font-size:12px}.page-about .main-close:hover{background-position:0 -519px}.template-detail article .meta-data span{line-height:35px}
