<div class="player">
	<div class="js-player">
		<div id="player"></div>
	</div>
	<div class="end-frame js-end-frame">
		<img class="js-end-frame-image">
	</div>
	<!-- <div class="menu-bk js-menu-bk"><div class="menu__item-blank"></div><div class="menu__item-blank menu__item-blank--right"></div></div> -->
</div>
<div class="grid-overlay"></div>
<div class="blocks js-grid-blocks"></div>
<div class="menu js-menu"></div>