@font-face {
  font-family: 'OmegaCT-Bold';
  font-weight: normal;
  font-style: normal;
  src: url("./../assets/fonts/OmegaCT-Bold.eot");
  src: url("./../assets/fonts/OmegaCT-Bold.eot?#iefix") format("embedded-opentype"), url("./../assets/fonts/OmegaCT-Bold.woff") format("woff"), url("./../assets/fonts/OmegaCT-Bold.ttf") format("truetype"), url("./../assets/fonts/OmegaCT-Bold.svg") format("svg");
}

@font-face {
  font-family: 'OmegaCT';
  font-weight: normal;
  font-style: normal;
  src: url("./../assets/fonts/OmegaCT-Regular.eot");
  src: url("./../assets/fonts/OmegaCT-Regular.eot?#iefix") format("embedded-opentype"), url("./../assets/fonts/OmegaCT-Regular.woff") format("woff"), url("./../assets/fonts/OmegaCT-Regular.ttf") format("truetype"), url("./../assets/fonts/OmegaCT-Regular.svg") format("svg");
}

@font-face {
  font-family: 'OmegaCT-Italic';
  font-weight: normal;
  font-style: normal;
  src: url("./../assets/fonts/OmegaCT-Italic.eot");
  src: url("./../assets/fonts/OmegaCT-Italic.eot?#iefix") format("embedded-opentype"), url("./../assets/fonts/OmegaCT-Italic.woff") format("woff"), url("./../assets/fonts/OmegaCT-Italic.ttf") format("truetype"), url("./../assets/fonts/OmegaCT-Italic.svg") format("svg");
}

/**
 * Sets the element to a specific opacity
 * if $color specified, then also sets the background color of the element
 * @support IE8+, Chrome, FF, Safari, Opera
 * @type {[type]}
 */
/* line 6, ../../build/sass/scss/app/_ui.scss */
.stream-container {
  padding-top: 134px;
  background: #000;
}

/* line 11, ../../build/sass/scss/app/_ui.scss */
.stream {
  display: none;
  /* start hidden, will show if browser is supported */
  position: relative;
  width: 962px;
  height: 532px;
  font-family: 'OmegaCT', sans-serif;
  background: #000;
  overflow: hidden;
}

/* line 21, ../../build/sass/scss/app/_ui.scss */
.grid-overlay {
  position: absolute;
  top: 0;
  background-image: url(../img/grid.png);
  width: 962px;
  height: 535px;
  opacity: 0.1;
}

/* line 32, ../../build/sass/scss/app/_ui.scss */
.lt-ie9 .grid-overlay {
  background: url(../img/grid-solid.png);
}

/* line 36, ../../build/sass/scss/app/_ui.scss */
.player {
  width: 962px;
  height: 535px;
  overflow: hidden;
}

/* line 42, ../../build/sass/scss/app/_ui.scss */
.end-frame {
  display: none;
  position: absolute;
  top: 0;
}

/* line 48, ../../build/sass/scss/app/_ui.scss */
.error {
  position: absolute;
  top: 0;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  top: 50px;
}

/* line 57, ../../build/sass/scss/app/_ui.scss */
.error-box {
  background: #585858;
  padding: 20px;
  position: relative;
  border: 1px solid #f00;
  display: none;
}

/* line 64, ../../build/sass/scss/app/_ui.scss */
.error-box__text {
  color: #fff;
  padding-bottom: 10px;
}

/* line 69, ../../build/sass/scss/app/_ui.scss */
.error-box__button {
  padding: 4px;
  color: #fff;
  background: #b8b8b8;
  cursor: pointer;
  display: inline;
}

/* line 80, ../../build/sass/scss/app/_ui.scss */
.pin-button {
  position: relative;
  float: right;
  top: 193px;
  right: 20px;
}

/**
 * Sets the element to a specific opacity
 * if $color specified, then also sets the background color of the element
 * @support IE8+, Chrome, FF, Safari, Opera
 * @type {[type]}
 */
/* line 4, ../../build/sass/scss/app/_menu.scss */
.menu {
  position: absolute;
  bottom: 0;
  left: 106px;
  width: 100%;
}

/* line 11, ../../build/sass/scss/app/_menu.scss */
.menu__item {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4DFFFFFF,endColorstr=#4DFFFFFF);
  zoom: 1;
  padding: 3px 10px 3px 10px;
  font-size: 11px;
  color: #fff;
  margin-left: 1px;
  min-width: 86px;
  float: left;
  line-height: 18px;
  height: 43px;
  position: absolute;
  overflow: hidden;
  letter-spacing: 1px;
  bottom: 0;
  -webkit-transition: all 0.3s ease-out, opacity 0;
  -moz-transition: all 0.3s ease-out, opacity 0;
  -o-transition: all 0.3s ease-out, opacity 0;
  transition: all 0.3s ease-out, opacity 0;
}

/* line 30, ../../build/sass/scss/app/_menu.scss */
.menu__item-blank--left {
  margin-left: 0;
}

/* line 34, ../../build/sass/scss/app/_menu.scss */
.menu__item--enabled {
  cursor: pointer;
  cursor: hand;
}

/* line 40, ../../build/sass/scss/app/_menu.scss */
.menu__item--active,
.menu__item--enabled:hover {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF);
  zoom: 1;
  height: 53px;
  overflow: hidden;
}

/* line 48, ../../build/sass/scss/app/_menu.scss */
.menu-bk {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 53, ../../build/sass/scss/app/_menu.scss */
.menu__item-blank {
  background: #ddd;
  padding: 3px 10px 3px 10px;
  min-width: 86px;
  height: 43px;
  float: left;
}

/* line 61, ../../build/sass/scss/app/_menu.scss */
.menu__item-blank--right {
  float: right;
}

/**
 * Sets the element to a specific opacity
 * if $color specified, then also sets the background color of the element
 * @support IE8+, Chrome, FF, Safari, Opera
 * @type {[type]}
 */
/* line 9, ../../build/sass/scss/app/_blocks.scss */
.blocks {
  position: absolute;
  top: 0;
}

/* line 14, ../../build/sass/scss/app/_blocks.scss */
.block {
  position: absolute;
  width: 106px;
  height: 106px;
  overflow: hidden;
}

/* line 21, ../../build/sass/scss/app/_blocks.scss */
.block-background {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF);
  zoom: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 28, ../../build/sass/scss/app/_blocks.scss */
.block-content {
  position: relative;
  color: #303030;
  top: 0;
  left: 0;
  font-size: 16px;
  padding: 9px;
}

/* line 39, ../../build/sass/scss/app/_blocks.scss */
.block-hider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clear: both;
}

/*	.block--wide {
		width: $cellWidth * 2 + $cellIncrement;
	}

	.block--tall {
		height: $cellHeight * 2 + $cellIncrement;
	}

	.block--large {
		width: $cellWidth * 2 + $cellIncrement;
		height: $cellHeight * 2 + $cellIncrement;
	}*/
/* line 60, ../../build/sass/scss/app/_blocks.scss */
.center {
  text-align: center;
}

/* line 1, ../../build/sass/scss/app/lang/en/_copy_block.scss */
.block-content-copy {
  line-height: 18px;
}

/* line 8, ../../build/sass/scss/app/lang/en/_copy_block.scss */
.block-content-final {
  font-size: 22px;
  line-height: 30px;
}

/* line 14, ../../build/sass/scss/app/lang/en/_copy_block.scss */
.js-block-share,
.js-block-play {
  cursor: pointer;
  text-decoration: underline;
}

/* line 5, ../../build/sass/scss/app/lang/en/_title_block.scss */
.block-content-title__title {
  font-size: 42px;
}
/* line 9, ../../build/sass/scss/app/lang/en/_title_block.scss */
.block-content-title__title.metal__title {
  font-size: 26px;
}
/* line 12, ../../build/sass/scss/app/lang/en/_title_block.scss */
.block-content-title__title.manufacturing__title {
  font-size: 30px;
}

/* line 17, ../../build/sass/scss/app/lang/en/_title_block.scss */
.block-content-title__number {
  color: #616161;
}

/* line 1, ../../build/sass/scss/app/lang/en/_number_block.scss */
.block-content-number {
  font-size: 53px;
  line-height: 90px;
}

/* line 6, ../../build/sass/scss/app/lang/en/_number_block.scss */
.block-content-number--large {
  font-size: 72px;
}

/* line 10, ../../build/sass/scss/app/lang/en/_number_block.scss */
.block-content-number__value {
  float: left;
}

/* line 17, ../../build/sass/scss/app/lang/en/_number_block.scss */
.alloying_carat_block .block-content-number__value {
  font-size: 52px;
}

/* line 1, ../../build/sass/scss/app/lang/en/_element_block.scss */
.block-content-element {
  line-height: 18px;
}

/* line 7, ../../build/sass/scss/app/lang/en/_element_block.scss */
.block-content-element__number {
  font-size: 32px;
  line-height: 62px;
  display: inline;
}

/* line 13, ../../build/sass/scss/app/lang/en/_element_block.scss */
.block-content-element__prefix {
  font-size: 26px;
  display: inline;
}

/* line 19, ../../build/sass/scss/app/lang/en/_element_block.scss */
.block-content-element__suffix {
  font-size: 20px;
  display: inline;
}

/* line 25, ../../build/sass/scss/app/lang/en/_element_block.scss */
.block-content-element__sub-heading {
  font-size: 24px;
  line-height: 76px;
  display: inline;
}

/* line 5, ../../build/sass/scss/app/lang/en/_solar_block.scss */
.block-content-solar__image {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* line 11, ../../build/sass/scss/app/lang/en/_solar_block.scss */
.block-content-solar__planetoid {
  position: absolute;
  background: url("../img/planetoid.png") no-repeat;
  width: 6px;
  height: 6px;
}

/* line 20, ../../build/sass/scss/app/lang/en/_solar_block.scss */
.block-content-solar__label {
  position: absolute;
  top: 157px;
  left: 128px;
}

/* line 1, ../../build/sass/scss/app/lang/en/_link_block.scss */
.js-link {
  cursor: pointer;
  cursor: hand;
}

/* line 7, ../../build/sass/scss/app/lang/en/_link_block.scss */
.block-content-link {
  text-decoration: none;
  font-size: 22px;
  margin-top: 14px;
  line-height: 30px;
}

/* line 1, ../../build/sass/scss/app/lang/en/_multiline_block.scss */
.block-content-multiline {
  font-size: 14px;
}
/* line 4, ../../build/sass/scss/app/lang/en/_multiline_block.scss */
.block-content-multiline li {
  font-size: 17px;
  padding-top: 3px;
}

/* line 1, ../../build/sass/scss/app/_preload.scss */
.stream-preload {
  display: none;
  background: url(../img/solar.png) no-repeat -9999px -9999px;
}
