<a class="blg-wrap clearfix" data-json id="item-<%= nosId %>" href="<%= url %>">
	<article class="col2 blg">
		<div class="content">
			<h1><%= title %></h1>
			<p><%= excerpt %></p>
		</div> <!-- .content -->
		<figure class="icon">
			<img src="<%= image %>" alt="<%= title %>" />
		</figure>
		<div class="meta-data">
			<span class="meta-type">Blog</span>
			<ul class="meta-general">
				<li class="meta-author"><span class="main-sprite main-user"></span>By <%= author.name %></li>
			</ul> <!-- .meta-general -->
		</div> <!-- .meta-data -->
	</article>
</a>