<a data-json id="item-<%= nosId %>" href="<%= url %>">
	<article class="col1 jb">
		<div class="content">
			<h1><%= title %></h1>
			<p><%= excerpt %></p>
		</div> <!-- .content -->
		<div class="icon main-sprite main-type-jb">Jobs</div>
		<div class="meta-data">
			<span class="meta-type">Job</span>
			<ul class="meta-general">
				<li class="meta-location"><span class="main-sprite main-location"></span><%= location %></li>
			</ul> <!-- .meta-general -->
		</div> <!-- .meta-data -->
	</article>
</a>