<article data-json id="item-<%= nosId %>" class="col1 instgrm" data-image="<%= imageLarge %>" data-time="<%= prettyDate %>" data-location="<%= location %>" data-title="<%= excerpt %>">
	<figure class="featured-image">
		<img src="<%= image %>" alt="<%= excerpt %>" />
	</figure>
	<div class="content">
		<h1><%= excerpt %></h1>
	</div> <!-- .content -->
	<div class="icon main-sprite main-type-instgrm">Instagram</div>
	<div class="meta-data">
		<span class="meta-type">Instagram</span>
		<ul class="meta-general">
			<li class="meta-time"><span class="main-sprite main-time"></span><%= prettyDate %></li>
			<li class="meta-location"><span class="main-sprite main-location"></span><%= location %></li>
		</ul> <!-- .meta-general -->
	</div> <!-- .meta-data -->
</article>