<article data-json id="item-<%= nosId %>" class="col1 qt">
	<div class="content">
		<a class="main-sprite main-tweet" href="https://twitter.com/share?text=People%20ignore%20design%20that%20ingores%20people%20People%20ignore%20design%20that%20ingores%20people%20People%20ignore%20design%20that%20ingores%20people%20People%20ignore%20design%20that%20ingores%20people%20-%20%40jasonxenopolous" target="_blank">Tweet</a>
		<p><%= excerpt %></p>
	</div> <!-- .content -->
	<figure class="icon">
		<img src="<%= author.image %>" alt="" />
	</figure>

	<div class="meta-data">
		<span class="meta-type">Quote</span>
		<ul class="meta-general">
			<li class="meta-author"><span class="main-sprite main-quote"></span><%= author.name %></li>
		</ul> <!-- .meta-general -->
	</div> <!-- .meta-data -->
</article>