<article data-json id="item-<%= nosId %>" class="col1 twttr">
	<div class="content">
		<a class="main-sprite main-retweet" href="https://twitter.com/share?text=<%= tweetUrl %>" target="_blank">Retweet</a>
		<%= excerpt %>
	</div> <!-- .content -->
	<div class="icon main-sprite main-type-twttr">Twitter</div>
	<div class="meta-data">
		<span class="meta-type">Twitter</span>
		<ul class="meta-general">
			<li class="meta-author"><span class="main-sprite main-user"></span><a href="http://twitter.com/<%= author.twitter %>/" target="_blank">@<%= author.twitter %></a></li>
			<% if(prettyDate !== undefined){ %>
				<li class="meta-time"><span class="main-sprite main-time"></span><%= prettyDate %></li>
			<% } %>
			<li class="meta-location"><span class="main-sprite main-location"></span><%= location %></li>
		</ul> <!-- .meta-general -->
	</div> <!-- .meta-data -->
</article>