<a class="wrk-wrap clearfix" data-json id="item-<%= nosId %>" href="<%= url %>">
	<article class="col<%= size %> wrk">
		<figure class="featured-image">
			<img src="<%= size == 1 ? image : imageLarge %>" alt="<%= title %>" />
		</figure>
		<div class="content">
			<h1><%= title %></h1>
			<p><%= excerpt %></p>
		</div> <!-- .content -->
		<div class="meta-data">
			<span class="meta-type">Work</span>
		</div> <!-- .meta-data -->
	</article>
</a>